body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #000000;
  padding: 6px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend i {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 8px;
  opacity: 1;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}